
* {
  margin:0;
  padding:0;
}

body {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 0;
  max-width: 1200px;
width: 100%;


}

h2 h1 h3 h4 {
  font-family: Arial, Helvetica, sans-serif
}

#toplogo {
  font-family: "Pacifico", cursive;
  font-size: 20px;
  padding: 0;
  margin: 0;
  align-self: center;
  color: #a79999;
}

nav {
  background-color: white;
  display: flex;
  justify-content: space-between;
  position: initial;
  font-family: Cambria, serif;
  top: 0;
}

nav li {
  list-style-type: none;
  display: inline;
  line-height: 1.7em;
}

nav li a {
  color: #a79999;
  text-decoration: none;
  padding: 10px;
}

nav li a:hover {
  font-weight: bold;
  text-decoration: underline;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "div_header--grey" "div_header--dark";
  justify-items: end;
  align-items: center;
}

.div_header--grey {
  background-color: #e6e6e6;
  width: 200%;
  margin-right: -75%;
  height: 700px;
}

.div_header--dark {
  background-color: #333333;
  color: #e4dada;
  width: 500px;
  height: 15em;
  display: grid;
  align-items: end;
  font-size: xx-large;
}

.div_header--dark a {
  color: white;
  position: relative;
  text-decoration: none;
  bottom: 50px;
}

.grid-section-2 {
  display: grid;
  height: 12em;
  grid-gap: 1rem;
  grid-auto-rows: 2fr;
  grid-template-columns: repeat(6, 2fr)
}

.grid-section-2 .item {
  border: none;
  padding: 3rem;
  background: #f4f4f4;
  border: #ccc 1px solid;
  text-align: center;
  font-weight: bold;
  font-size: 1.4rem;
}

.grid-section-2 .item:nth-child(1) {
  background-color: white;
  border: none;
}

.grid-section-2 .item:nth-child(2) {
  background-color: white;
  border: none;
}

.grid-section-2 .item:nth-child(3) {
  background-color: white;
  border: none;
  color: white;
}

.grid-section-2 .item:nth-child(4) {
  position: relative;
  border: none;
  bottom: 50px;
  right: 40px;
  width: 160px;
}

.grid-section-2 .item:nth-child(5) {
  position: relative;
  border: none;
  bottom: 50px;
  right: 40px;
  width: 160px;
}

.grid-section-2 .item:nth-child(6) {
  position: relative;
  border: none;
  bottom: 50px;
  right: 40px;
  width: 160px;
}

.grid-section-3 {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr;
  height: 12em;
  max-width: auto;
  grid-gap: 5rem;
}

.grid-section-3 .item {
  padding: 3rem;
  /*   font-weight: bold;
 */
  max-width: auto;
}

.grid-section-3 .item h2 {
  max-width: auto;
  align-self: auto;
}

.grid-section-3 a {
  text-decoration: none;
  font-size: small;
  color: black;
  align-self: auto;
}

.grid-section-3 .item:nth-child(2) {
  text-align: start;
}

.grid-section-4 {
  display: grid;
  grid-template-columns: 3fr 3fr 1fr;
  max-width: auto;
  height: 20em;
  padding: 1rem;
  grid-gap: 5rem;
}

.grid-section-4 .item {
  padding: 1rem;
  background: #f4f4f4;
  border: #ccc 1px solid;
  text-align: start;
  /*  font-weight: bold; */
  font-size: 1rem;
  border: none;
}

.grid-section-4 .item:nth-child(1) {
  grid-row: 1 / span 5;
}

.grid-section-4 .item:nth-child(2) {
  background-color: white;
  border: none;
  grid-row: 1 / span 5;
  position: relative;
  width: 200px;
  height: 260px;
}

.grid-section-4 .item:nth-child(3) {
  grid-row: 1 / span 6;
  background-color: white;
  text-align: start;
  border: none;
  width: 170px;
  height: 160px;

}

.grid-section-4 .item:nth-child(3) h2 {
  font-size: small;
  transform: /* Magic Numbers */
  translate(25px, 51px)
  /* 45 is really 360 - 45 */
  rotate(90deg);
  margin: auto;
  width: 200px;
  /* width: 30px;
 */
}

/* What do you think of traveling */

#traveling-text {
  font-size: 23px;
  margin-bottom: 10;
}

.grid-section-5 {
  display: grid;
  grid-template-columns: 3fr 1.6fr 1fr 1fr;
  max-width: auto;
  height: 25em;
  padding: 2rem;
  grid-gap: 3rem;
}

.grid-section-5 .item {
  padding: 1rem;
  background: #f4f4f4;
  border: #ccc 1px solid;
  text-align: start;
  /*  font-weight: bold; */
  font-size: 1rem;
}

.grid-section-5 .item:nth-child(1) {
  grid-column: 1/ span 1;
  grid-row: 1 / span 4;
  border: none;
  background-color: white;
}

.grid-section-5 a {
  text-decoration: none;
  font-size: 8px;
  font-weight: bold;
  color: black;
}

.grid-section-5 .item:nth-child(2) {
  grid-column: 2/ span 1;
  grid-row: 2 / span 4;
  height: 350px;
  top: 20px;
  border: none;
  background-color: rgb(214, 213, 213);
  position: relative;
  left: 168px;
}

.grid-section-5 .item:nth-child(3) {
  grid-column: 4/ span 1;
  grid-row: 1 / span 4;
  border: none;
  position: relative;
  height: 230px;
}

.grid-section-5 .item:nth-child(4) {
  grid-column: 4/ span 1;
  grid-row: 1 / span 4;
  position: relative;
  bottom: 25px;
  right: 25px;
  z-index: 1;
  background-color: rgb(145, 143, 143);
  border: none;
  position: relative;
  height: 230px;
}

.grid-section-6 {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-row: gap_ 1fr;
}

.grid-section-6 .item {
  top: 30px;
  text-align: center;
}

.grid-section-6 .item:nth-child(2) {
  position: relative;
  left: 50px;
}

.grid-section-7 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-section-7 .item {
  text-align: left;
}

.grid-section-7 .item:nth-child(2) {
  position: relative;
  right: 250px;
  width: 265px;
  top: 50px;
  height: 340px;
  z-index: 1;
  background-color: rgb(145, 143, 143);
}

.grid-section-7 .item:nth-child(3) {
  position: relative;
  right: 114px;
  top: 50px;
  z-index: 1;
  background-color: none;
}

.grid-section-7 .item:nth-child(3) a {
  text-decoration: none;
  font-size: 8px;
  font-weight: bold;
  color: black;
}

.grid-section-7 .item:nth-child(1) {
  position: relative;
  background-color: none;
  width: 265px;
  height: 340px;
  background-color: rgb(214, 213, 213);
}

.grid-section-8 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-section-8 .item {
  border: none;
  background: #f4f4f4;
  border: #ccc 1px solid;
  margin-top: 80px;
  width: 265px;
  height: 340px;
}

.grid-section-8 .item:nth-child(1) {
  background-color: white;
  border: none;
  width: 365px;
}

.grid-section-8 .item:nth-child(2) {
  position: relative;
  bottom: 66px;
  left: 291px;
  background-color: rgb(145, 143, 143);
  text-align: left;
}

.grid-section-8 .item:nth-child(3) {
  background-color: rgb(214, 213, 213);
}

.grid-section-8 .item a {
  text-decoration: none;
  font-size: 8px;
  font-weight: bold;
  color: black;
}

.video-section {
  
  border: none;
  text-align: center
  
  
  
}

.button {
  position: relative;
  border: none;
  background-color: white;
 right: 165px;
  top: 10px;
  float: right;
  z-index: 0;
}

#video-1 {
  margin: 20px 0px;
}

#video-2 {
  margin: 20px 0px;
}

#video-3 {
  margin: 25px 0px;
}

.last-block {
  display: inline-block;
  text-align: center;
  position: relative;
  left: 150px;
   top: 100px;
   padding: 50px;
  }
   

  .last-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    width: 1200px;
   
  }
video {
  position: relative;
  width: 721px;
}
  /* .last-grid--item {
    padding: 3rem;
        background: #f4f4f4;
        border: #ccc 1px solid;
         text-align: center;
        font-weight: bold;
        font-size: 1.4rem;
  } */

  .last-grid--item:nth-child(1) {
   top: 50px;
    text-align: center;
    height: 300px;
    width: 300px;
    padding: 40px;
    
  }
  .last-grid--item:nth-child(2) {
   position: relative;
    bottom: 120px;
    right: 50px;
    height: 400px;
    width: 500px;
    z-index: -1;
    background-color: rgb(214, 213, 213);
    
  }

  .last-grid--item p {
    font-size: 1rem;
    font-style: italic;
  }
.last-block {
  display: inline;
  position: relative;

  left: 19px;
  top: -15px;
 clear: 0;
  text-decoration: none;
  font-size: 2rem;
 
}


#footer_grid-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 1em;
  background-color: rgb(23, 23, 23);
  min-width: 1200px;
  color: white;
  height: 20em;
  column-gap: 15px;


}
#footer {
  position: relative;
  justify-content: space-between;
max-width: 1200px;
width: 100%;
margin: 0 auto;
/* padding-left: 20px;
 padding-right: 20px */;
box-sizing: border-box;
justify-self: center;
align-self: center;

}
 
.grid-box_footer__icon {
  position: relative;
  padding: 5em;
  
}


.grid-box_footer__icon .icons {
  
  position: relative;
  text-align: left;
}
  
.grid-box_footer__icon form {
  
margin: initial;
position: relative;
}

.grid-box_footer__subscribe {
  box-sizing: border-box;
  padding-bottom: 1em;
  text-align: center left;
}
 
.grid-box_footer__subscribe h4 {
  padding-bottom: 2em;
  position: relative;
  padding: 0;
  margin: 0;
  padding-top: 5em;
  
}
.grid-box_footer__subscribe input {
background-color: #333333;
border-color: #a79999;
border-radius: 1px;
height: 2em;
width: 26em;
}
  
.grid-box_footer__subscribe p {
  padding: 10px;
}


.Home-list {
  display: flex;
  justify-content: center;
  align-self: center;
  
  

}
.Home-list ul li{
 list-style-type: none;
 color: #ccc;
 font-size: 0.75em;
 padding-top: 3px;
 
 

 
}







/* .grid-section-5 .item item3 {

}
 */

/*  .item item1 {
   grid-column-start: 1;
   grid-column-end: 4;
   grid-row-start: 1;
   grid-row-end: 1;

 }
 .item item2 {
   grid-column-start: 2;
   grid-column-end: 3;
   grid-row-start: 2;
   grid-row-end: 2;

 }
 .item item3 {
   grid-column-start: 3;
   grid-column-end: 1;
   grid-row-start: 3;
   grid-row-end: 3;

 }
  */

/*  .flex-box-within {
      background-color: #a79999;
     display: flex;
     flex-direction: column;
     flex: 1;
     justify-content: space-around;
     height: 200px;
     align-items: baseline;
   } 

   #flexbox-on-side {
     background: #f4f4f4;
     border: #ccc solid 1px;
     margin: 1rem;
     flex-basis: 79px;
   
   } */

/*  flex-container--section8  {
  
    display: grid;
    flex-wrap: nowrap;
    align-items: stretch;
    background-color: #a79999;
    padding: 20px;
  }
    .flex-container--section8 > div {
      background-color: aquamarine;
      width: 300px;
      height: 200px;
      margin:10px;
      line-eight 7px;
    font-size: 30px;
      text-align: end;
      
    }
.flex-container--section9 {
  display: inline-flex;
  justify-content: stretch;
  background-color: rgb(221, 117, 69);
  align-items: flex-end;
}
.flex-container--section8 > div {
width: 400px;
height: 30px;
padding: 20px;
margin: 0, auto;
justify-content: stretch;


} */